<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spring Assignment - Forgot password</title>
    <style>
        .form-label:after {
            content:" *";
            color: red;
        }
        form {
            max-width: 500px;
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/css/bootstrap.min.css" />
    <script src="https://cdn.jsdelivr.net/webjars/org.webjars/jquery/2.1.0/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<form th:action="@{/check-email}" method="post" class="mx-auto mt-3 card p-3 w-100 p-2 shadow-sm"
      autocomplete="off">
    <div class="mb-3 text-center">
        <h1>Forgot password</h1>
        <p class="mb-0">Remember your password? <a th:href="@{/login}">Login here</a></p>
    </div>
    <div th:if="${param.error}" class="container card p-3 text-center alert alert-danger">Email does not exist.</div>

    <!-- Email input -->
    <div class="mb-3">
        <label class="form-label" for="email">Email address</label>
        <input type="email" id="email" name="email" class="form-control" required />
    </div>

    <!-- Submit button -->
    <button  type="submit" class="btn btn-primary btn-block mb-3">Forgot password</button>
</form>
</body>
</html>