<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spring Assignment - Reset password</title>
    <style>
        .form-label:after {
            content:" *";
            color: red;
        }
        form {
            max-width: 500px;
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/css/bootstrap.min.css" />
    <script src="https://cdn.jsdelivr.net/webjars/org.webjars/jquery/2.1.0/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<form th:action="@{/reset-password/{id} (id=${userByEmail.id})}" th:object="${userByEmail}"
      method="post" class="mx-auto mt-3 card p-3 w-100 p-2 shadow-sm" autocomplete="off">
    <div class="mb-3 text-center">
        <h1>Reset password</h1>
        <p class="mb-0">Remember your password? <a th:href="@{/login}">Login here</a></p>
    </div>
    <div class="alertContainer mx-auto alert alert-danger alert-dismissible" th:if="${idNotFound != null}">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>Cannot reset password!</strong> User not found.
    </div>
    <!-- Password input -->
    <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input type="password" th:field="*{password}" id="password" class="form-control" required/>
        <p class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
    </div>
    <!-- Password confirm input -->
    <div class="mb-3">
        <label class="form-label" for="confirm-new">Confirm Password</label>
        <input type="password" id="confirm-new" class="form-control" required oninput="checkPasswordMatch(this);"/>
    </div>

    <!-- Submit button -->
    <button  type="submit" class="btn btn-primary btn-block mb-3">Reset password</button>
</form>

<script>
    function checkPasswordMatch(fieldConfirmPassword) {
        if (fieldConfirmPassword.value != $("#password").val()) {
            fieldConfirmPassword.setCustomValidity("Passwords do not match!");
        } else {
            fieldConfirmPassword.setCustomValidity("");
        }
    }
</script>
</body>
</html>