<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spring Assignment - Reset password</title>
    <style>
        .form-label:after {
            content:" *";
            color: red;
        }
        form {
            max-width: 500px;
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/css/bootstrap.min.css" />
    <script src="https://cdn.jsdelivr.net/webjars/org.webjars/jquery/2.1.0/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<form th:action="@{|/update-password/${password}|}" method="post" class="mx-auto mt-3 card p-3 w-100 p-2 shadow-sm"
      autocomplete="off" oninput='up2.setCustomValidity(up2.value != up.value ? "Passwords do not match." : "")'>
    <div class="mb-3 text-center">
        <h1>Reset password</h1>
    </div>
    <!-- Password input -->
    <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input type="password" id="password" class="form-control" required name='up'/>
    </div>
    <!-- Password confirm input -->
    <div class="mb-3">
        <label class="form-label" for="confirm-new">Confirm Password</label>
        <input type="password" id="confirm-new" class="form-control" required name="up2"/>
    </div>

    <!-- Submit button -->
    <button  type="submit" class="btn btn-primary btn-block mb-3">Reset password</button>
</form>
</body>
</html>